@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<div>
    <h2>Record Your Expenses Now!</h2>
</div>
<br />
<div>
    <div class="text-center">
        <h2 class="center">Add your past expenses</h2>
        <p>
            Here you can start adding your expenses and create a record of them.
            This can be later used to analyze your spending habits, offer tips to better your habits, and help create a budget
        </p>
    </div>
</div>